@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");


:root {
  --sand: #c8b393;
  --darksand: #c1a885;
  --white: #fff;
  --black: #000;
  --error: #b00020;
  --success: #388e3c;
  --lighter-sand-bg: #e1c8a4; 
  --highlight-color: #bfa980; 
  --section-bg-color: #d1b892; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: var(--sand);
  height: 100%;
  overflow-x: hidden;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid var(--highlight-color);
  outline-offset: 2px;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 1.5rem;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 1.2rem;
}

.custom-margin {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  color: var(--black);
  margin: 20px;
}

.db-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 40px;
  position: relative;
  background: var(--white);
}

.db-menu-toggle {
  display: none;
}

.db-menu-left {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 1201;
}

.db-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  z-index: 1300;
}

.db-hamburger span {
  width: 30px;
  height: 3px;
  margin: 4px 0;
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.4s ease;
  transform-origin: center;
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -10% -10%;
}

.db-menu-label {
  display: none;
}

.db-brand-name {
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--black);
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
}

.db-menu-contact-span-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  gap: 1rem;
}

.db-menu-contact-span-container span {
  padding: 0 0px 0 5px;
  font-size: 0.875rem;
  color: var(--black);
}

.db-menu-contact-span-container a {
  text-decoration: none;
}

.db-overlay-nav-ul {
  padding: 10px 0;
}

.location-icon {
  display: flex;
  align-items: flex-end;
}

.db-desktop-contact {
  display: none;
}

.db-overlay-nav {
  display: none;
}

.db-overlay-nav {
  padding: 30px 0;
  display: block;
  position: absolute;
  background-color: var(--white);
  left: -9999px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  top: 120px;
  left: 0px;
  background-color: var(--sand);
}

.db-menu-toggle:checked ~ .db-header-inner .db-overlay-nav {
  opacity: 1;
  pointer-events: auto;
  left: 0;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  min-height: 100vh;
  z-index: 1300;
}

.db-overlay-nav li {
  list-style: none;
  padding: 10px 0;
}

.db-overlay-nav li a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition: color 0.2s;
}

.db-overlay-nav li a:hover {
  list-style: none;
  color: var(--white);
}

.db-overlay-nav .db-menu-social {
  color: var(--black);
}

.material-icons-outlined {
  font-size: 30px;
  color: var(--black);
}

.material-icons-outlined:hover {
  color: var(--white);
}

.db-menu-contact {
  padding: 20px 0;
}

.social-icons a {
  color: var(--black);
  font-size: 30px;
  text-decoration: none;
  padding: 20px 20px;
}

.social-icons a:hover {
  color: var(--white);
}

.unified-footer {
  background-color: var(--darksand);
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid var(--black);
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.footer-item.contact,
.footer-item.location,
.footer-item.social {
  align-items: center;
  text-align: left;
  gap: 10px;
}

.footer-item.contact h3,
.footer-item.location h3,
.footer-item h3, .footer-item.social h3  {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black);
}

.footer-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: var(--black);
}

.footer-item.contact a,
.footer-item.location a,
.footer-item a  {
  text-decoration: none;
  color: var(--black);
}

.footer-item.social h3  {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--black);
}

.social-networks a i {
  font-size: 2rem;
  color: var(--black);
  transition: color 0.3s ease, transform 0.3s ease;
  padding-right: 10px;
}

.footer-logo {
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin-top: 40px;
  font-weight: bold;
}

.portfolio {
  padding: 0;
  text-align: center;
}

#portfolio h1 {
  color: var(--black);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 50px 0;
  box-sizing: border-box;
}

#photos img {
  width: 380px;
  height: 380px;
}

#photos img {
  width: 380px;
  height: 570px;
  flex-shrink: 0;
  border-radius: 170px;
  object-fit: cover;
  margin: 10px;
  max-width: 100%;
}

.main-contact {
  background-color: var(--darksand);
}

.contact-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
}

.contact-heading {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 20px 0 10px;
  margin-bottom: 10px;
}

.contact-opening-time {
  font-size: 1rem;
  padding: 30px 0 10px 0;
  font-weight: bolder;
}

.contact-item {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1rem;
}

#contact-item-location {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  color: var(--black);
}

.contact-section-2 span {
  padding-top: 20px;
}

.contact-item-a {
  padding: 20px 0px;
  text-decoration: none;
  color: var(--black);
}

.contact-item-a span {
  padding-left: 10px;
}

.contact-social-networks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 30px;
  gap: 30px;
}

.contact-social-networks a i {
  font-size: 2.5rem;
  color: var(--black);
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-social-networks a:hover i.fa {
  color: white;
  transform: scale(1.1);
}

section.contact-section {
  text-align: left;
  width: 100%;
}

.section-divider {
  border: none;
  border-top: 2px solid var(--black);
  width: 100%;
  margin: 1rem 0;
}

.contact-heading {
  padding: 10px 0;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

input[type="date"],
textarea {
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  font-size: 1rem;
  width: 90%;
}

input:invalid:required,
textarea:invalid:required {
  border-color: var(--error);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group span.error {
  color: var(--error);
  font-size: 0.9rem;
  display: none;
}

input:invalid + span.error,
textarea:invalid + span.error {
  display: block;
}

.contact-submit-button {
    text-align: center;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--black);
    background-color: var(--section-bg-color);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin: 1rem auto 0;
    width: fit-content;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal:target {
  display: flex;
}

.modal-content {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  max-width: 90%;
  text-align: center;
}

.modal-content h2 {
  color: var(--success);
  margin-top: 0;
}

.modal-content a {
  margin-top: 1rem;
  display: inline-block;
  text-decoration: underline;
  color: var(--black);
}

.hero-video-section {
  background-color: var(--lighter-sand-bg);
  padding: 1rem;
  text-align: center;
  margin-top: 20px;
}

.video-container {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-text {
  margin-top: 1rem;
  padding: 0 1rem;
}

.hero-text h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-text p {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.portfolio-gallery {
  padding: 1.5rem;
  background-color: var(--lighter-sand-bg);
  text-align: center;
}

.portfolio-gallery h2 {
  font-family: "Trirong", serif;
  font-size: 2em;
  color: var(--black);;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.gallery-item {
  margin: 0;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 0.75rem;
  transition: transform 0.3s ease-in-out;
} 

.gallery-item img:hover {
  transform: scale(1.03);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  border: 0;
}

.bio {
  padding: 30px 10px;
  background-color: var(--section-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 30px 0px 20PX 0;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.intro-text,
.founder-bio p {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.meet-dl {
  font-weight: 700;
}

.founder-image {
  margin: 0 auto;
  max-width: 90%;
}

.founder-image img {
  width: 100%;
  border-radius: 0.5rem;
  display: block;
  height: auto;
}

.founder-bio h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.learn-button {
  text-align: center;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--black);
  background-color: var(--section-bg-color);
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin: 1rem auto 0;
  width: fit-content;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.about-hero {
  text-align: center;
  max-width: 100vw;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.hero-image {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.about-text h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.about-text p {
  max-width: 90%;
  margin: 0 auto 1rem auto;
  font-size: 1rem;
  padding: 0 1rem;
}

.founder-profile {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.founder-image {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.founder-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.founder-text h3 {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.founder-text p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}


@media (min-width: 768px) {

 h1 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 1.8rem;
  }

  h2, h3 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 1.5rem;
  }
  
  .db-brand-name {
    font-family: "Playfair Display", serif;
    text-align: right;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .db-menu-label {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: var(--black);
    letter-spacing: 2px;
    cursor: pointer;
  }

  .db-desktop-contact {
    display: block;
  }

  .db-desktop-contact a {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: var(--black);
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .db-desktop-contact a:hover {
    color: var(--sand);
    font-weight: 700;
  }

  .db-overlay-nav li a {
    font-size: 1.2rem;
  }

  .db-menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 20px;
  }

  .db-menu-contact-span-container span {
    padding: 0 0px 0 10px;
    font-size: 1.2rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
    padding-bottom: 15px;
  }

  .social-icons a {
    color: var(--black);
    font-size: 37px;
    text-decoration: none;
    padding: 20px 20px;
  }

  .social-icons a:hover {
    color: var(--white);
  }

  .material-icons-outlined {
    font-size: 30px;
    color: var(--black);
  }

  #photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #photos {
    gap: 40px;
  }

  input[type="date"],
  textarea {
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-radius: 4px;
    font-size: 1rem;
    width: 50%;
  }

  .contact-submit-button {
    text-align: center;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--black);
    background-color: var(--section-bg-color);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin: 1rem auto 0;
    width: fit-content;
  }

  .gallery-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    max-width: 1000px; 
  }

  .gallery-item img {
    height: 400px; 
  }

  .intro-text p {
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    max-width: 1200px;
  }

  .footer-logo {
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin-top: 40px;
    font-weight: bold;
  }

  .db-overlay-nav li a {
    list-style: none;
    font-size: 1.2rem;
  }

  .about-text h1,
  .founder-text h2 {
    font-size: 1.5rem;
  }

  .founder-image {
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  
}

@media (min-width: 1024px) {

  .db-brand-name {
    font-family: "Playfair Display", serif;
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-p1 {
    max-width: 600px;
  }

  .contact-item {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.2rem;
  }

  .contact-opening-time {
    font-size: 1.2rem;
    padding: 20px 0 10px 0;
    font-weight: bold;
  }

  input[type="date"],
  textarea {
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-radius: 4px;
    font-size: 1rem;
    width: 40%;
  }

  .contact-submit-button {
    text-align: center;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--black);
    background-color: var(--section-bg-color);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin: 1rem auto 0;
    width: fit-content;
   }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 40px 20px;
    text-align: center;
  }

  .footer-item {
    align-items: center;
  }

  .social-networks {
    flex-direction: row;
    justify-content: center;
  }

  .social-networks a i {
    font-size: 2rem;
    color: var(--black);
    transition: color 0.3s ease, transform 0.3s ease;
    padding-right: 10px;
  }

  .social-networks a:hover i.fa {
    color: white;
    transform: scale(1.1);
  }

  .unified-footer {
    border-top: 1px solid var(--black);
  }

  .founder-image img {
    max-width: 500px;
    margin: 0 auto;
  }

  .portfolio-gallery {
    padding: 3rem; 
  }

  .gallery-grid {
    gap: 2.5rem; 
  }

  .gallery-item img {
    height: 450px; 
  }

  .db-overlay-nav li a {
    list-style: none;
    font-size: 1.5rem;
  }

  .db-menu-contact-span-container span {
    padding: 0 0px 0 10px;
    font-size: 1.5rem;
  }


}
