@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --sand: #c8b393;
  --darksand: #c1a885;
  --white: #fff;
  --black: #000;
  --error: #b00020;
  --success: #388e3c;
  --lighter-sand-bg: #e1c8a4; 
  --highlight-color: #bfa980; 
  --section-bg-color: #d1b892; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: var(--sand);
  height: 100%;
  overflow-x: hidden;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid var(--highlight-color);
  outline-offset: 2px;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 1.5rem;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 1.2rem;
}


.custom-margin {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  color: var(--black);
  margin: 20px;
}

.db-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 40px;
  position: relative;
  background: var(--white);
}

.db-menu-toggle {
  display: none;
}

.db-menu-left {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 1201;
}

.db-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  z-index: 1300;
}

.db-hamburger span {
  width: 30px;
  height: 3px;
  margin: 4px 0;
  background-color: var(--black);
  border-radius: 2px;
  transition: all 0.4s ease;
  transform-origin: center;
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.db-menu-toggle:checked ~ .db-header-inner .db-hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: -10% -10%;
}

.db-menu-label {
  display: none;
}

.db-brand-name {
  font-family: "Playfair Display", serif;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--black);
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
}

.db-menu-contact-span-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  gap: 1rem;
}

.db-menu-contact-span-container span {
  padding: 0 0px 0 5px;
  font-size: 0.875rem;
  color: var(--black);
}

.db-menu-contact-span-container a {
  text-decoration: none;
}

.db-overlay-nav-ul {
  padding: 10px 0;
}

.location-icon {
  display: flex;
  align-items: flex-end;
}

.db-desktop-contact {
  display: none;
}

.db-overlay-nav {
  display: none;
}

.db-overlay-nav {
  padding: 30px 0;
  display: block;
  position: absolute;
  background-color: var(--white);
  left: -9999px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  top: 120px;
  left: 0px;
  background-color: var(--sand);
}

.db-menu-toggle:checked ~ .db-header-inner .db-overlay-nav {
  opacity: 1;
  pointer-events: auto;
  left: 0;
  top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  min-height: 100vh;
  z-index: 1300;
}

.db-overlay-nav li {
  list-style: none;
  padding: 10px 0;
}

.db-overlay-nav li a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition: color 0.2s;
}


.db-overlay-nav li a:hover {
  list-style: none;
  color: var(--white);
}

.db-overlay-nav .db-menu-social {
  color: var(--black);
}

.material-icons-outlined {
  font-size: 30px;
  color: var(--black);
}

.material-icons-outlined:hover {
  color: var(--white);
}

.db-menu-contact {
  padding: 20px 0;
}

.social-icons a {
  color: var(--black);
  font-size: 30px;
  text-decoration: none;
  padding: 20px 20px;
}

.social-icons a:hover {
  color: var(--white);
}

.hero-video-section {
  background-color: var(--lighter-sand-bg);
  padding: 1rem;
  text-align: center;
  margin-top: 20px;
}

.video-container {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hero-text {
  margin-top: 1rem;
  padding: 0 1rem;
}

.hero-text h1 {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-text p {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}


.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.gallery-item {
  margin: 0;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  border-radius: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.03);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  border: 0;
}


@media (min-width: 768px) {

 h1 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 1.8rem;
  }

  h2, h3 {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-size: 1.5rem;
  }
  
  .db-brand-name {
    font-family: "Playfair Display", serif;
    text-align: right;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .db-menu-label {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: var(--black);
    letter-spacing: 2px;
    cursor: pointer;
  }

  .db-desktop-contact {
    display: block;
  }

  .db-desktop-contact a {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: var(--black);
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
  }

  .db-desktop-contact a:hover {
    color: var(--sand);
    font-weight: 700;
  }

   .db-overlay-nav li a {
    list-style: none;
    font-size: 1.2rem;
  }

  .db-menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 20px;
  }

  .db-menu-contact-span-container span {
    padding: 0 0px 0 10px;
    font-size: 1.2rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
    padding-bottom: 15px;
  }

  .social-icons a {
    color: var(--black);
    font-size: 37px;
    text-decoration: none;
    padding: 20px 20px;
  }

  .social-icons a:hover {
    color: var(--white);
  }

  .material-icons-outlined {
    font-size: 30px;
    color: var(--black);
  }

    .gallery-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    max-width: 1000px; 
  }

  .gallery-item img {
    height: 400px; 
  }
  
}

@media (min-width: 1024px) {

  .db-brand-name {
    font-family: "Playfair Display", serif;
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--black);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .db-overlay-nav li a {
    list-style: none;
    font-size: 1.5rem;
  }

  .db-menu-contact-span-container span {
    padding: 0 0px 0 10px;
    font-size: 1.5rem;
  }

    .gallery-grid {
    gap: 2.5rem; 
  }

  .gallery-item img {
    height: 450px; 
  }

}